*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.938);
    
}
body{
   /* position: relative;*/
}


.logo-alura{
    font-size: clamp(6rem, 10vw, 12rem);
    color: #0a3871;
    padding-left: 0.1em;
}


.input-boton{
  text-align: center;
}
.imagen-copiar{
    text-align: center;
    height: 45rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;  
  
}


#valor-encriptado{
    top: 10%;
    right: 10%;
    width: 80%;
    font-size: clamp(2rem,3vw,7rem);
    /*font-size: 25px;*/
    color: gray;
    background-color: #cccccc;
    white-space: initial;
    word-wrap: break-word;
    white-space: pre-wrap;

}


#imagen{
    width: 100%;
    /*height: 80%;*/
    margin: 1em auto;
    border: none;
}
#txt-palabra{
    width: 80%;
    padding: 5%;
    height: clamp(1rem,320px,700px);
    border: none;
    font-size: clamp(2rem,3vw,7rem);
    color: #0a3871;
    text-align: center;
    white-space: initial;
    text-transform: lowercase;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#txt-palabra:focus{
    outline:none;
}

#btn-encriptar {
 width: 90%;
 height: 50px;
 border-radius: 15px;
 background-color: #0a3871;
 color: white;   
font-size: 20px;
margin: 0.5em auto;
transition: 0.5s all;
}
#btn-desencriptar{
    width: 90%;
    height: 50px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #0a3871;
    border-color:#0a3871 ;
    font-size: 20px;
    transition: 1s all;

}
#label{
    display: block;
    color:gray;
}
#btn-desencriptar:hover, #btn-encriptar:hover {
    transform: scale(1.1);
}



.imagen-copiar img + p {
   font-weight: bold;
   font-size: 1.7em;
}



#btn-copiar{

    bottom: 5%;
    right: 25%;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #0a3871;
    border-color: #0a3871;
    font-size: 20px;
    transition: 1s all;
    display: none;
}
#btn-copiar:hover {
    transform: scale(1.1);
}





 /*tablet   */
 @media(min-device-width:577px){
    #btn-encriptar, #btn-desencriptar{
    width: 45%;
   
}
/*para que la info de advertencia se vea en una linea cada una*/
.p1,.p2 {
    width: 100%;
 }

 }


 /*portátiles   hacia arriba */
@media (min-device-width: 993px){
/*para que la info de advertencia se vea en una linea cada una*/

    .p1,.p2  {
        width: 100%;
     }
   
    
    main{
        box-sizing: border-box;
        display: flex;
    }
    .input-boton{
        width: 60%;
        height: 600px;
        
       
    }

    .imagen-copiar{
        width: 30%;
      
    }
    /*#imagen {
        margin: 1em auto;
        border: none;
    }*/
    #txt-palabra{
        height: clamp(2rem,520px,700px);
        border: none; 
    }

    .imagen-copiar{
        height: clamp(2rem,600px,700px);
       
    }


}