*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(210, 223, 223);
    
}
body{
   /* position: relative;*/
}
.logo-alura{
    font-size: 90px;
    /* background-color: aquamarine; */
    position: absolute;
    margin: 0 20px;
}
.contenedor-principal{
    box-sizing: border-box;
    width: 940px;
    background-color: aliceblue;
   

}
body div{
    display: inline-block;
}
.input-boton{
    width: 50%;
    /* position:absolute; */
    top: 150px;
    left: 100px;
}
.imagen-copiar{
    position: absolute;
    text-align: center;
    background-color: #cccccc;
    min-height: 800px;
    min-width: 200px;
    border-radius: 15px;
    top: 20px;
    right: 100px;

    min-width: 25%;
}
#imagen{
    width: 100%;
    height: 800px;
    border-radius: 15px;
}
#txt-palabra{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 40%;
    border: none;
    font-size: 30px;
}
#btn-encriptar {
 position: absolute;
 top: 700px;
 left: 20%;
 width: 15%;
 height: 50px;
 border-radius: 15px;
 background-color: rgb(19, 19, 83);
 color: white;   
font-size: 20px;
padding: 10px;
transition: 1s all;
}
#btn-desencriptar{
    position: absolute;
    top: 700px;
    left: 40%;
    width: 15%;
    height: 50px;
    border-radius: 15px;
    background-color: #cccccc;
    color: gray;
    font-size: 20px;
    transition: 1s all;

}
#label{
    position: absolute;
    top: 660px;
    left: 20%;
    color:gray;
}
#btn-desencriptar:hover, #btn-encriptar:hover {
    transform: scale(1.1);
}
#btn-copiar{
    position: absolute;
    bottom: 5%;
    right: 25%;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    background-color: #cccccc;
    color: gray;
    font-size: 20px;
    transition: 1s all;
}
#btn-copiar:hover {
    transform: scale(1.1);
}
#valor-encriptado{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    font-size: 25px;
    background-color: #cccccc;
    color: gray;
}
/* 
confiuracion de la pagina para ser responsiva
*/
@media screen {
    
}